<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="/components/polymer/polymer.html">
<link rel="import" href="/components/iron-ajax/iron-ajax.html">
<link rel="import" href="/components/paper-item/paper-item.html">
<link rel="import" href="/components/paper-item/paper-icon-item.html">
<link rel="import" href="/components/iron-icon/iron-icon.html">
<link rel="import" href="/components/iron-collapse/iron-collapse.html">
<link rel="import" href="./tree-element.html">

<!--
An element providing a solution to no problem in particular.

Example:

    <user-list></user-list>

Example:

    <user-list>
      <h2>Hello user-list</h2>
    </user-list>

@demo demo/index.html
@hero hero.svg
-->

<dom-module id="user-list">
  <template strip-whitespace>
    <style>
      :host {
        display: block;
        box-sizing: border-box;
      }

      .users {
        margin-left: 15px;
      }

      :host button.heading {
        padding: 10px 15px;
        margin-top: 20px;
        background-color: #f3f3f3;
        border: 1px solid #dedede;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        font-size: 18px;
        cursor: pointer;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        width: 100%;
        text-align: left;
      }
    </style>

    <iron-ajax 
        url={{url}} 
        id="ajax"
        on-response="handleResponse" 
        auto headers='{"Accept": "application/json"}' 
        handleAs="json"
        last-response="{{resp}}">
        
    </iron-ajax>

    <content></content>

    <div class="users">
      <template is="dom-repeat" items="[[resp.data]]" >
      
        <button class="heading" aria-controls="collapse-[[index]]" onclick$="toggle('#collapse-[[index]]', '[[item.id]]')">
          [[item.name.first]] [[item.name.last]]
        </button>

        <iron-collapse id="collapse-[[index]]" tabindex="0">
          <iron-ajax
            url=[[item.uri]] 
            id=[[item.id]]
            headers='{"Accept": "application/json"}' 
            handleAs="json"
            last-response="{{user}}">
          </iron-ajax>

          <div class="content">
            <ul>
              <permission-node id="[[item.id]]"></permission-node>
            </ul>
          </div>
        </iron-collapse>

      </template>
    </div>
  </template>

  <script>
    Polymer({
      is: 'user-list',

      properties: {
        /**
         * `fancy` indicates that the element should don a monocle and tophat,
         * while checking its pocket watch.
         */
        fancy: Boolean,
        url:{
          type:String,
          value:function(){
            return "http://localhost:3001/api/v1/user"
          }
        }
      },

      // Element Lifecycle

      ready: function() {
        // `ready` is called after all elements have been configured, but
        // propagates bottom-up. This element's children are ready, but parents
        // are not.
        //
        // This is the point where you should make modifications to the DOM (when
        // necessary), or kick off any processes the element wants to perform.
      },

      attached: function() {
        // `attached` fires once the element and its parents have been inserted
        // into a document.
        //
        // This is a good place to perform any work related to your element's
        // visual state or active behavior (measuring sizes, beginning animations,
        // loading resources, etc).
      },

      detached: function() {
        // The analog to `attached`, `detached` fires when the element has been
        // removed from a document.
        //
        // Use this to clean up anything you did in `attached`.
      },

      // Element Behavior

      handleResponse: function(){
        console.log( this.resp )
      }
    });

    function toggle( selector ,id){
      console.log( id )
      document.querySelector( selector ).toggle()
    }
  </script>
</dom-module>